<h2 class="mb-5">My Contacts</h2>

<div class="text-end pb-3">
  <button class="btn btn-primary" routerLink="/newContact">Add Contact</button>
</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date of Birth</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(contact of contacts; track contact.idContact; let idx = $index){
    <tr>
      <td>{{ idx + 1 }}</td>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.dateOfBirth | date : "dd/MM/yyyy" }}</td>
      <td class="text-center align-middle">
        <div class="btn-group align-items-center">
          <button
            class="btn btn-warning"
            [routerLink]="[contact.idContact, 'update']"
          >
            Update
          </button>
          <button class="btn btn-danger" (click)="delete(contact.idContact)">
            Delete
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
